- form_for @<%= singular_name %> do |f|
	= f.error_messages
	<%- for attribute in attributes -%>
	.formline
		= f.label :<%= attribute.name %>
		= f.<%= attribute.field_type %> :<%= attribute.name %>
	<%- end -%>
	%p
	.formsubmitline
		= f.submit
